<section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Chefs</h2>
            <p>Our Proffesional Chefs</p>
        </div>

        <div class="row">
            {% for item in site.data.chefs %}
            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                    <img src="assets/img/chefs/{{ item.image }}" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>{{ item.name }}</h4>
                            <span>{{ item.position }}</span>
                        </div>
                        <div class="social">
                            <a href="https://twitter.com/ballonnis" target="_blank"><i class="bi bi-twitter"></i></a>
                            <a href="https://www.facebook.com/ballonnis" target="_blank"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/ballonnis" target="_blank"><i
                                    class="bi bi-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/ballonnis" target="_blank"><i
                                    class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>

    </div>
</section>